<div class="panel panel-primary panel-form">
		<div class="panel-body panel-primary">
			<%= form_for([@mer, @mer.comments.build], :html => { class: "form-comment"}) do |f| %>
			    <%= f.hidden_field :commenter, value: current_user.name, class: "form-control" %>
			    <%= f.label :Comment %><br />
			    <%= f.text_area :body, class: "form-control" %>
					<br />
			    <%= f.submit "Save", class: "btn btn-lg btn-primary btn-block" %>
      <% end %>
	</div>
</div>
